@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url('AAA.JPG') ;
  /* background: rgb(225,200,226);
  background: radial-gradient(circle, rgba(225,200,226,1) 0%, rgba(187,175,213,1) 35%, rgba(144,104,189,1) 100%); */
}
.nav-item{
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 45px;
  color: white;
  border-radius: 25px 25px 0 0;
  background-color: hsl(314, 37%, 66%, 0.8);
}

header{
  display: flex;
  /* move things to right */
  justify-content:flex-end;
  align-items: center;
  padding: 30px 5%;
}

.nav-links{
  /* no list style */
  list-style: none;
}
.nav-links li{
  /* going side by side */
  display: inline-block;
  padding: 0px 20px;
}

.nav-item{
  transition: all 0.3s ease 0s;
}
.nav-item:hover{
  color: white;
  transition: all 0.3s ease 0s;
  border-bottom: 5px solid white;
}


/* CSS */
.button-52 {
  margin-bottom: 60px;
  font-size: 30px;
  letter-spacing: 1px;
  outline: 0;
  color:white;
  border: 3px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #c887b9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 20px;
  left: 20px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    transition-duration: 0.3s;
    padding: 23px 40px 3px 60px;
  }.button-52:hover {
    transition-duration: 0.3s;
    padding: 13px 50px 13px;
  }
}
.content{
    margin-top: 1%;
}
.button-group{
  display: inline-block;
  width: 20%;
}

.profile{
  color:white;
  border: 3px solid white;
  background-color: #c887b9;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-bottom: 30px;
}

#avatar{
  margin-top: 20px;
  margin-left: 63px;
  border-radius: 50%;
  border: 3px solid white;
  width: 170px;
}
.horizontal{
  display: inline-block;
}
.profile-item{
  font-size: 25px;
  margin: 20px;
}
.namebox{
  margin-left: 106px;
}