:root {
    /* Change this to change the appearance of the hexaons */
    --hex-width: 80px;
    --hex-between: 8px;

    /* Other hexagon dimentions */
    --hex-height: calc(var(--hex-width) / 1.73
            /* sqrt(3) */
        );
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73
            /* sqrt(3) */
        );
    --hex-transition: all .2s ease;

    /* Colors */
    --color-hex-default: #000000;
    --color-hex-hover: #FFFFFF;
    --color-react: #61DBFB;
    --color-atom: #66595C;
    --color-bootstrap: #563D7C;
    --color-ts: #007acc;
    --color-js: #F0DB4F;
    --color-git: #F14E32;
    --color-matlab: #B45D25;
    --color-cpp: #004482;
    --color-c: #2B358E;
    --color-nodejs: #3c873a;
    --color-javascript: #F7DF1E;
    --color-java: #f89820;
    --color-python: #3776AB;
    --color-firebase: #FFA661;
    --color-electron: #aee7f7;
    --color-python: #4B8BBE;
    --color-tailwind: #44a8b3;
    --color-flask: #000000;
    --color-heroku: #430098;
}

.second{
    margin-top: -15px;
}
.hexagon {
    align-items: center;
    background-color: var(--color-hex-default);
    cursor: pointer;
    display: flex;
    fill: white;
    height: var(--hex-height);
    margin: var(--hex-border) 0;
    justify-content: center;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);
}
.hexagon::after,
.hexagon::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
}

.hexagon::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
}

.hexagon::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
}

.hexagon:hover {
    background-color: var(--color-hex-hover);
}

.hexagon:hover::after,
.hexagon:hover::before {
    border-top-color: var(--color-hex-hover);
    border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
    margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon>svg {
    height: 75%;
    transition: var(--hex-transition);
}

/* Colors */
.color-electron {
    background-color: var(--color-electron);
}

.color-electron::after,
.color-electron::before {
    border-top-color: var(--color-electron);
    border-bottom-color: var(--color-electron);
}

.color-electron:hover {
    fill: var(--color-electron);
}

.color-react {
    background-color: var(--color-react);
}

.color-react::after,
.color-react::before {
    border-top-color: var(--color-react);
    border-bottom-color: var(--color-react);
}

.color-react:hover {
    fill: var(--color-react);
}

.color-cpp {
    background-color: var(--color-cpp);
}

.color-cpp::after,
.color-cpp::before {
    border-top-color: var(--color-cpp);
    border-bottom-color: var(--color-cpp);
}

.color-cpp:hover {
    fill: var(--color-cpp);
}

.color-firebase {
    background-color: var(--color-firebase);
}

.color-firebase::after,
.color-firebase::before {
    border-top-color: var(--color-firebase);
    border-bottom-color: var(--color-firebase);
}

.color-firebase:hover {
    fill: var(--color-firebase);
}

.color-git {
    background-color: var(--color-git);
}

.color-git::after,
.color-git::before {
    border-top-color: var(--color-git);
    border-bottom-color: var(--color-git);
}

.color-git:hover {
    fill: var(--color-git);
}

.color-nodejs {
    background-color: var(--color-nodejs);
}

.color-nodejs::after,
.color-nodejs::before {
    border-top-color: var(--color-nodejs);
    border-bottom-color: var(--color-nodejs);
}

.color-nodejs:hover {
    fill: var(--color-nodejs);
}

.color-matlab {
    background-color: var(--color-matlab);
}

.color-matlab::after,
.color-matlab::before {
    border-top-color: var(--color-matlab);
    border-bottom-color: var(--color-matlab);
}

.color-matlab:hover {
    fill: var(--color-matlab);
}
.color-javascript {
    background-color: var(--color-javascript);
}

.color-javascript::after,
.color-javascript::before {
    border-top-color: var(--color-javascript);
    border-bottom-color: var(--color-javascript);
}

.color-javascript:hover {
    fill: var(--color-javascript);
}

.color-python {
    background-color: var(--color-python);
}

.color-python::after,
.color-python::before {
    border-top-color: var(--color-python);
    border-bottom-color: var(--color-python);
}

.color-python:hover {
    fill: var(--color-python);
}

.color-ts {
    background-color: var(--color-ts);
}

.color-ts::after,
.color-ts::before {
    border-top-color: var(--color-ts);
    border-bottom-color: var(--color-ts);
}

.color-ts:hover {
    fill: var(--color-ts);
}

.color-tailwind {
    background-color: var(--color-tailwind);
}

.color-tailwind::after,
.color-tailwind::before {
    border-top-color: var(--color-tailwind);
    border-bottom-color: var(--color-tailwind);
}

.color-tailwind:hover {
    fill: var(--color-tailwind);
}

.color-js {
    background-color: var(--color-js);
}

.color-js::after,
.color-js::before {
    border-top-color: var(--color-js);
    border-bottom-color: var(--color-js);
}

.color-js:hover {
    fill: var(--color-js);
}

.color-python {
    background-color: var(--color-python);
}

.color-python::after,
.color-python::before {
    border-top-color: var(--color-python);
    border-bottom-color: var(--color-python);
}

.color-python:hover {
    fill: var(--color-python);
}

.color-c {
    background-color: var(--color-c);
}

.color-c::after,
.color-c::before {
    border-top-color: var(--color-c);
    border-bottom-color: var(--color-c);
}

.color-c:hover {
    fill: var(--color-c);
}

.color-bootstrap {
    background-color: var(--color-bootstrap);
}

.color-bootstrap::after,
.color-bootstrap::before {
    border-top-color: var(--color-bootstrap);
    border-bottom-color: var(--color-bootstrap);
}

.color-bootstrap:hover {
    fill: var(--color-bootstrap);
}

.color-atom {
    background-color: var(--color-atom);
}

.color-atom::after,
.color-atom::before {
    border-top-color: var(--color-atom);
    border-bottom-color: var(--color-atom);
}

.color-atom:hover {
    fill: var(--color-atom);
}

.color-java {
    background-color: var(--color-java);
}

.color-java::after,
.color-java::before {
    border-top-color: var(--color-java);
    border-bottom-color: var(--color-java);
}

.color-java:hover {
    fill: var(--color-java);
}


.color-flask {
    background-color: var(--color-flask);
}

.color-flask::after,
.color-flask::before {
    border-top-color: var(--color-flask);
    border-bottom-color: var(--color-flask);
}

.color-flask:hover {
    fill: var(--color-flask);
}


.color-heroku {
    background-color: var(--color-heroku);
}

.color-heroku::after,
.color-heroku::before {
    border-top-color: var(--color-heroku);
    border-bottom-color: var(--color-heroku);
}

.color-heroku:hover {
    fill: var(--color-heroku);
}