@font-face {
    font-family: 'Flix Normal';
    src: url('Flix-Normal.eot');
    src: url('Flix-Normal.eot?#iefix') format('embedded-opentype'),
        url('Flix-Normal.woff2') format('woff2'),
        url('Flix-Normal.woff') format('woff'),
        url('Flix-Normal.ttf') format('truetype'),
        url('Flix-Normal.svg#Flix-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flix Outline';
    src: url('Flix-Outline.eot');
    src: url('Flix-Outline.eot?#iefix') format('embedded-opentype'),
        url('Flix-Outline.woff2') format('woff2'),
        url('Flix-Outline.woff') format('woff'),
        url('Flix-Outline.ttf') format('truetype'),
        url('Flix-Outline.svg#Flix-Outline') format('svg');
    font-weight: normal;
    font-style: normal;
}

